# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.mypy_cache/
.pytype/

# Envs
.venv/
.env
.env.*

# Data & outputs
data/processed/*
!data/processed/.gitkeep
data/raw/*
!data/raw/.gitkeep
outputs/*
!outputs/.gitkeep

# Streamlit
.streamlit/

# Coverage & builds
htmlcov/
.coverage
dist/
build/

# Notebooks
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
